<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muc13_03_bachnigsch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.muc13_03_bachnigsch.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.muc13_03_bachnigsch.DiscoveryActivity"
            android:label="@string/title_activity_discovery"
            android:parentActivityName="com.example.muc13_03_bachnigsch.MainActivity" >
        </activity>
        <activity
            android:name="com.example.muc13_03_bachnigsch.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="com.example.muc13_03_bachnigsch.MainActivity" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.example.muc13_03_bachnigsch.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.muc13_03_bachnigsch.MainActivity" />
        </activity>
    </application>

</manifest>
